<div class="container">
    <div class="title">
        Patient profile
    </div>
    <div class="patient-info">
        <div class="patient-attribute">
            <label>Name:</label>Name
        </div>
        <div class="patient-attribute">
            <label>Surname:</label>Surname
        </div>
        <div class="patient-attribute">
            <label>Gender:</label>gender
        </div>
        <div class="patient-attribute">
            <label>Age:</label>Age
        </div>
    </div>

    <div class="title">
        Tests
    </div>
    <div class="list-tests-container">
        <div class="tests-element" [routerLink]="['/test'] "*ngFor="let test of tests">
            {{test}}
        </div>

    </div>

    
</div>
