@import "../../styles/_global";
.sign-up-body {
    margin-top: 100px;
    margin-left: 20%;
    padding: 30px;
    
}
.submit-button {
    margin-left: 300px;
}

.sign-up-form {
    background: $color-primary-1;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
    
    input{
        width: 400px;
        height: 20px;
        margin-bottom: 15px;
        border-radius: 5px 5px;
    }
    label {
        margin-bottom: 5px;
    }
}