
<div class="sign-up-body">
    <div class="sign-up-form">
        <label>Name</label>
        <input type="text" name="name" [(ngModel)]="name">
        <label>Surname</label>
        <input type="text" name="surname" [(ngModel)]="surname">
        <label>Collegiate Number</label>
        <input type="text" name="collegiateNumber" [(ngModel)]="collegiateNumber">
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="email">
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password">
    </div>
    <div class="submit-bar">
        <div class="link" [routerLink]="['/sign-in']">
            Sign in
        </div>
        <button type="button" (click)="register()" >Register</button>
    </div>
    
</div>