<div style="display:block; text-align:center">
<h1>Welcome to Skin Cancer Survival Tool</h1>
<p> This tool allows doctors to obtain the survival curve of patients suffering from melanoma cancer. Moreover, patients are classified into <br>
  three risk groups: low risk, medium risk and high risk. Higher risk patients are expected to have less survival probability than lower or <br>
  medium risk patients.Therefore, this tool allows doctors to asses the risk of their patients, and choose the appropiate treatment.
</p>

<p>
The following chart shows the expected survival curve for each risk group.
</p>

<img src="assets/visualization.png" alt="image">

<p>
For interpretability purposes, the following table shows the general properties of each risk group.
</p>


<div>
<table class="tg" align="center">
<tr>
<th class="tg-c0nj1"></th>
<th class="tg-c0nj">Risk group: Low</th>
<th class="tg-c0nj">Risk group: Medium</th>
<th class="tg-c0nj">Risk group: High</th>
</tr>
<tr>
<td class="tg-ftnm"><span style="font-weight:bold">Expected life span</span></td>
<td class="tg-0lax">113 months</td>
<td class="tg-0lax">102 months</td>
<td class="tg-0lax">69 months</td>
</tr>
<tr>
<td class="tg-ftnm"><span style="font-weight:bold">Properties</span></td>
<td class="tg-0lax">- Younger age<br>- No visceral metastasis&nbsp;&nbsp;&nbsp;<br>- Superficial spreading<br>    hystological subtype  <br>- Low cutaneous biopsy <br>  breslow<br>- Scenarion 1-2</td>
<td class="tg-0lax">- Older age<br>- Controlled visceral metastasis&nbsp;&nbsp;<br>- Medium cutaneous biopsy <br>   breslow  <br>- Scenario 1-2-3</td>
<td class="tg-0lax">- Older age<br>- Multiple visceral metastasis<br>- High number of nodes checked <br>   under slnb and ldn<br>- Nodular histological subtype<br>- High cutaneous biopsy breslow<br>- Scenario 3-4</td>
</tr>
</table>
</div>

</div>