.tg  {
	border-collapse:collapse;
	border-spacing:0;
}

.tg td {
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-top-width:1px;
	border-bottom-width:1px;
	border-color:black;
}

.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-right-width:1px;
	border-bottom-width:1px;
	border-color:black;
}

.tg .tg-g8k0{
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif !important;;
	background-color:#ffffff;
	text-align:left;
	vertical-align:top;
}

.tg .tg-c0nj{
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif !important;;
	background-color:#ffcc67;
	text-align:left;
	vertical-align:top;
	border-top-width:1px;
}

.tg .tg-ftnm{
	font-family:Tahoma, Geneva, sans-serif !important;;
	background-color:#ffcc67;
	text-align:left;
	vertical-align:top;
	border-left-width: 1px;
	border-right-width: 1px;
}

.tg .tg-0lax{
	text-align:left;
	vertical-align:top;
	border-left-width: 1px;
	border-right-width: 1px;
}