// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=13v0u0kfy++00++9a++l3+YqEZX */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #8BD1FF;	// Main Primary color */
$color-primary-1: #FFFFFF;
$color-primary-2: #BAE4FF;
$color-primary-3: #61C1FF;
$color-primary-4: #36AEFC;


$rgba-primary-0: rgba(139,209,255,1);	// Main Primary color */
$rgba-primary-1: rgba(255,255,255,1);
$rgba-primary-2: rgba(186,228,255,1);
$rgba-primary-3: rgba( 97,193,255,1);
$rgba-primary-4: rgba( 54,174,252,1);